.foto{
    border-radius: 50%;
    background-color: #d3d3d3;
    width: 40px;
    height: 40px;
}

#chats{
    cursor: pointer;
}

#chats:hover{
    background-color:#f8f9fa
}

.side-menu{
    width: 350px;
}

.chat{
    width: 60%;
    left: 31%;
}

.img-home{
    width: 20vw;
    margin-top: 20vh;
    margin-left: auto
}


