*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.foto{
    border-radius: 50%;
    background-color: #d3d3d3;
    width: 40px;
    height: 40px;
}

#chats{
    cursor: pointer;
}

#chats:hover{
    background-color:#f8f9fa
}

.side-menu{
    width: 350px;
    position: fixed;
    z-index: 1;
}

.chat{
    margin-top: 0px; 
    margin-left: 350px; 
    padding: 0px; 
    width: calc(100% - 350px);
}

.area-message{
    height: 79vh !important;
    overflow: auto !important;
}

.input-message{
    background-color: #f3f4f7 !important;
    height: auto !important;
    max-height: 11.76em !important;
    line-height: 1.54;
    overflow: auto !important;
    user-select: text !important;
    word-break: break-word !important;
}

.area-input-message{
    height: auto; 
    margin-bottom: 0px; 
    bottom: 0px; 
    position: absolute; 
    width: calc(100% - 350px);
}

.img-home{
    width: 80%;
    margin-top: 20vh;
    margin-left: auto
}

.icon-none{
    display: none
}

.down-button{
    cursor: pointer; 
    position: fixed;
    bottom: 15%; 
    left: 96%;
}

@media screen and (max-width: 780px){
    .side-menu{
        visibility: hidden;
    }

    .chat{
        width: 100%;
        margin-left: 0px; 
    }

    .icon-none{
        display: block;
    }

    .chat-height{
        max-height: 79h;
    }
    
    .area-input-message{
        width: 100%;
    } 

    .down-button{
        left: 87%;
    }
    
}

@media screen and (min-width: 780px){
    .side-menu{
        visibility: visible !important; 
    }
    
}
