*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


.foto{
    border-radius: 50%;
    background-color: #d3d3d3;
    width: 40px;
    height: 40px;
}

.chat-side-bar:hover{
    background-color:#f8f9fa
}

.modal-chat:hover{
    background-color:#f8f9fa
}

.side-menu{
    width: 350px;
    position: fixed;
    z-index: 1;
}

.chat{
    margin-top: 0px;
    margin-left: 350px;
    padding: 0px; 
    width: calc(100% - 350px);
}

.area-message{
    height: 79vh !important;
    overflow: auto !important;
    margin-bottom: 30px;
}

.input-message{
    background-color: #f3f4f7 !important;
    height: auto !important;
    max-height: 11.76em !important;
    line-height: 1.54;
    overflow: auto !important;
    user-select: text !important;
    word-break: break-word !important;
}

.area-input-message{
    height: auto; 
    margin-bottom: 0px; 
    bottom: 0px; 
    position: absolute; 
    width: calc(100% - 350px);
}

.img-home{
    width: 80%;
    margin-top: 20vh;
    margin-left: auto
}

.icon-none{
    display: none
}

.down-button{
    cursor: pointer; 
    position: fixed;
    bottom: 15%; 
    left: 96%;
    background-color: #fff;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #5369f8;
    opacity: 0.2;
    animation: jump 0.6s var(--delay) linear infinite;
}
    
.dots {
    display: flex !important
}

.dots .dot:nth-child(1) {
    --delay: 0ms;
}

.dots .dot:nth-child(2) {
    --delay: 100ms;
}

.dots .dot:nth-child(3) {
    --delay: 200ms;
}


@keyframes jump {
    0% {
        opacity: 0.2;
        transform: translateY(0px);
    }

    33% {
        opacity: 0.6;
        transform: translateY(-9px);
    }

    66% {
        opacity: 0.2;
        transform: translateY(0px);
    }
}
  

@media screen and (max-width: 780px){
    .side-menu{
        visibility: hidden;
    }

    .chat{
        width: 100%;
        margin-left: 0px; 
    }

    .icon-none{
        display: block;
    }

    .chat-height{
        max-height: 79h;
    }
    
    .area-input-message{
        width: 100%;
    } 

    .down-button{
        left: 87%;
    }
    
}

@media screen and (min-width: 780px){
    .side-menu{
        visibility: visible !important; 
    }
    
}
